.movieRow {
  margin-bottom: 30px;
}
.movieRow h2 {
  margin: 0px 0px 0px 30px;
}
.movieRowListaArea {
  overflow-x: hidden;
  padding-left: 30px;
}
.movieRowList {
  width: 99999999px;
}
.movieRowItem {
  display: inline-block;
  width: 150px;
}
.movieRowItem img {
  width: 100%;
  transform: scale(0.9);
  transition: all ease 0.4s;
}
.movieRowItem img:hover {
  transform: scale(1);
}
.movieRowLeft,
.movieRowRight {
  position: absolute;
  width: 40px;
  height: 225px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 99;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  transition: all ease 0.5s;
}
.movieRowLeft {
  left: 0;
}
.movieRowRight {
  right: 0;
}
.movieRow:hover .movieRowRight,
.movieRow:hover .movieRowLeft {
  opacity: 1;
}
